
@media(max-width: 1240px){
  .info__inner{
    flex-wrap: wrap-reverse;
  }
  .info__box{
    flex-basis: 100%;
    margin-right: 0; 
    display: flex;
  }
  .info__list{
    align-self: flex-start;
    margin-left: 40px;
  }
  .info__list-item{
    margin-bottom: 50px;
  }
  .info__content{
    max-width: 100%;
  }
  .info__content-img{
    display: none;
  }
  .info-tabs__items{
    margin-bottom: 40px;
  }
 }
@media(max-width: 1024px){
 .service__inner{
   flex-wrap: wrap;
 }
 .service__content{
   flex-basis: 100%;
   margin-right: 0;
 }
 .service__img{
   width: 100%;
   height: 400px;
 }
 .step__inner{
   flex-wrap: wrap;
 }
 .step__content{
   margin-right: 0;
 }
 .step__img{
   object-fit: cover;
   height: 300px;
   flex-basis: 100%;
   width: 100%;
 }
}
@media(max-width: 960px){
  .clients-slider__box{
    display: block;
  }
  .clients-slider__box-title{
    max-width: 100%;
  }
  .clients-slider__box-img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin-right: 0;
  }
}
@media(max-width: 826px){
  .info__box{
    display: block;
  }
  .info__list{
    margin-left: 0px;
  }
  .info-tabs__items{
    margin-bottom: 40px;
    text-align: center;
  }
}
@media(max-width: 768px){
  .header__title{
    font-size: 48px;
    line-height: 52px;
  }
  .header__title span{
    font-size: 32px;
    line-height: 40px;
  }
  .blockquote{
    padding: 60px 10px 80px;
  }
  .blockquote__text{
    font-size: 28px;
    line-height: 32px;
  }
  .footer__bottom{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer__bottom .logo{
    width: 100%;
    margin: 20px 0;
  }
  .footer__top{
    flex-wrap: wrap;
    text-align: center;
  }
  .footer__contacts{
    margin: 0 auto;
  }
  .footer__form{
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 40px; 
  }
}
@media(max-width: 640px){
  .header,
  .service,
  .info,
  .blockquote,
  .clients
  .step,
  .footer__top{
    margin-bottom: 50px;
  }
}
@media(max-width: 540px){
  .header__title{
    font-size: 32px;
    line-height: 38px;
  }
  .header__title span{
    font-size: 22px;
    line-height: 28px;
  }
  .header__subtitle{
    font-size: 16px;
    line-height: 22px;
  }
  // .info__slider{
  //   min-width: 100%;
  // }
  // .info-slider__item{
  //   display: flex;
  //   flex-direction: column;
  // }
  .info-slider{
    max-width: 300px;
    margin: 0 auto;
  }
  .info-slider__img{
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
    float: none;
    height: 200px;
    object-fit: cover;
  }
  .info-tabs__item{
    margin-right: 14px;
  }
  .slick-left{
    left: calc(50% - 50px);
  }
  .slick-right{
    left: calc(50% + 10px);
  }
  .info__list{
    display: block;
  }
  .clients-slider__box-list{
    margin-left: 0;
  }
}
@media(max-width: 375px){
  .button__text{
    margin-left: -76px;
  }
  .title{
    margin-bottom: 40px;
  }
  .service__box{
    margin-bottom: 30px;
  }
  .blockquote__text{
    font-size: 22px;
    line-height: 28px;
  }
}
@media(max-width: 340px){
  .info-slider{
    width: 280px;
  }
}